html,
body {
  padding: 0;
  margin: 0;
  /*
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    */

  /* Background image */
  background-image: url("../assets/background/background.svg");
  background-repeat: no-repeat;
  background-size: 100%;

  /* Background color */
  background-color: rgba(13, 13, 13, 0.82);
  backdrop-filter: blur(4px);

  /* Text color */
  color: white;

  /* Disable text selection */
  user-select: none;
}

* {
  box-sizing: border-box;
}

/* GT America */

@font-face {
  font-family: 'GT America Mono';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: local('GT America Mono'), url('/fonts/GT-America-Mono-Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'GT America Condensed-Medium';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src: local('GT America Condensed-Medium'),
    url('/fonts/GT-America-Condensed-Medium.woff2') format('woff2');
}

@font-face {
  font-family: 'GT America Condensed-Bold';
  font-display: swap;
  font-style: normal;
  font-weight: 700;
  font-stretch: condensed;
  src: local('GT America Condensed-Bold'),
    url('/fonts/GT-America-Condensed-Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'GT America Extended Bold';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: local('GT America Extended Bold'),
    url('/fonts/GT-America-Extended-Bold.woff2') format('woff2');
}